/*   app styles*/

.App {
  width: 100vw;
  height: 100vh;
}
.routerLink {
  text-decoration: none;
  color: white;
}
/* styles for navbar start */

.navbar {
  width: 100%;
  height: 80px;
  background: hsl(209, 23%, 22%);
  position: sticky;
  top: 0;
}
.container {
  width: 1140px;
  height: 100%;
  padding: 0px 15px;
  margin: auto !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.container .left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.container .right {
  display: flex;
  align-items: center;
}
.searchInput .icon {
  height: 2rem;
  width: 2rem;
}

.searchInput {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 10px;
  height: 50px;
  width: 25rem;
}
.searchInput > input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 2px 4px;
  background-color: transparent;
  color: white;
}
/* styles for navbar end */

/* styles for homepage start */

.home {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  color: white;
}
.home-container {
  width: 100%;
  padding: 0px 25px;
  margin: auto !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* styles for homepage end */

/* styles for titles start */
.titlesContainer{
 
}
.titles {
  width: 1140px;
  align-self: left;
  padding: 0px 25px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-bottom: 10px;
}
.titles > li {
  display: flex;
  align-self: center;
  font-size: 25px;
  color: slategrey;
  font-weight: 600;
}

/*     Country component styles*/

.countryContainer {
  width: 1140px;
 color: teal;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  height: 100px;
  cursor: pointer;
  box-shadow: 0px 4px 20px 10px rgba(8,7,7,0.25);
  -webkit-box-shadow: 0px 4px 20px 10px rgba(8,7,7,0.25);
  -moz-box-shadow: 0px 4px 20px 10px rgba(8,7,7,0.25);
}
.countryContainer > img {
  height: 100%;
  width: 150px;
}

.moreInfo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.moreInfo > ul {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.countryContainer .moreInfo {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

/* styles for titles end */

/* styles for countryPage start */
.countryPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countryPage .infoContainer {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 70vh;
  width: 70%;
  background-color: white;
  opacity: 0.8;
}
.infoContainer .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top .topLeft {
  display: flex;
  width: 60%;
  align-items: center;
  gap: 30px;
}
.topLeft .letter {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(194, 49, 49);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
}

.infoContainer > img {
  width: 30rem;
  height: 30rem;
  align-self: center;
}
.infoContainer .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoContainer .bottom .left {
  display: flex;
  align-items: center;
  gap: 30px;
}
